@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;500;600&display=swap");
body {
  margin: 0;
  font-family: "Fira Code", "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  background-color: #282c33;
}

.navbar-Icon {
  width: 70px;
}

.mainNavBar,
.dropdown-menu {
  background-color: #282c33 !important;
  color: white;
  border: none !important;
}

.dropdown-item {
  color: #abb2bf !important;
}

.navbar-toggler {
  border: none !important;
}

.color-primary {
  color: #c778dd !important ;
}

.secondary-color {
  color: #abb2bf !important;
}

.homepage {
  background-color: #282c33;
  min-height: 100vh;
  color: #ffffff;
  border: none;
}

.spanHomeButtonText {
  font-weight: 500;
}

.homeH1 {
  font-size: 32px;
  font-weight: 600;
  line-height: 41.98px;
}

.homeButtomText {
  border: 1px solid #abb2bf;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.homeButtomBox {
  background-color: #c778dd;
  height: 10px;
  width: 10px;
  margin: 0 10px 0 10px;
}
